body{
}
.container{
    background-color: chocolate;
    display: flex;
    flex-grow: 900px;
}
.container .logo{
    width: 10px;
    background-color: cornsilk;
    

}

.container .heading{
    float: right;
    padding-left: 70%;
    font-size: 20px;
    
    
}
.container .heading .home{

    

}
.welcome{
    display: flex;
    margin: 30px;
}

.welcome .photo1{
    float:right ;
    padding-left: 150PX;;
    
}
.welcome .welcom{
    font-size: 40px;
    line-height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin-left: 30px;
}

#breeds #german{
    display: flex;
    padding: 20px;
    
    
}
#breeds #friso{
    display: flex;
    padding: 20px;
    
    
}
#breeds #peking{
display: flex;
padding: 20px;
    
}
.head{
    text-align: center;
    font-size: 40px;
}
#friso >p{
    font-size: 50px;
}




  
  main{
    display: flex;
    background-color: aquamarine;
  }
  #location{
      flex-grow: 1;
      padding-left: 40%;
      
  }
  #three{
      flex-grow: 1;
  }
  #socials{
      flex-grow: 2;
      position: relative;
      padding-left: 40%;
      display: inline-block;
  }
.submit{
    
    text-align: center;
    border-radius: 20px;
}